@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.song-displayer {
    width: 100%;
    max-width: 550px;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    background: #111;
    padding-top: 3rem;
    border-radius: 7px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}

.song-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.singer, .title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #ddd;
}

.singer {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.title {
    font-size: 3rem;
}

.song-data {
    margin-bottom: 2rem;
}

.song-frame {
    width: 100%;
    max-width: 450px;
    height: 190px;
}

.reload-btn {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    padding: 0.55rem;
    border-radius: 12px;
    border: none;
    background: #1ed760;
    color: #000;
    transition: 150ms ease;
}

.reload-btn:hover {
    transform: scale(1.05);
}

.reload-btn:active {
    transform: scale(0.9);
    background: #169141;
    color: #bbbbbb;
}